
{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <div class="jumbotron mt-5">
        <div class="container">
          <h1 class="display-4"><i class="fas fa-clipboard-list"></i> Tasker</h1>
          <p class="lead">Let other people do your errands for you.</p>
        </div>
    </div>
    <div class="top-140-pad">
        <div class="sticky float-right">
            <div>
              <a href="https://www.crowdbotics.com/?ref=badge+{{ customtext.title }}">
                  <span class="badge badge-success pull-right">
                      <div id="image" style="display:inline;">
                        <img class="img-fluid pencil" src="{% static 'img/slack-app-pencil.png' %}" alt="Built with software packages from crowdbotics.com" height="30" width="30">
                          </div>
                      <div id="texts" style="display:inline; margin-left: 4px;">
                        Made with Crowdbotics.com
                      </div>
                  </span>
              </a>
            </div>
        </div>
    </div>
{% endblock %}
