
body {
    height: 100%;
    min-height: 100vh;
}
.top-right {
    position: absolute;
    top: 20px;
    right:50px;
}
.badge-success {
  color: #000000c4;
  background-color: #e9ecef;
  padding: 8px 8px 8px 8px;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
}
.top-140-pad{
    padding-top: 140px;
}

.width-200 {
    width: 200px;
}
.star {
    font-size: 1.2em;
    color: #ffb905;
}
.thumbnail {
    width: 80px;
}
.todo-image {
    width: 120px;
}
.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    color: #343a40;
    text-decoration: none;
}
