{% extends 'base.html' %}

{% load humanize staticfiles task_tags bootstrap4 %}

{% block header_css %}
<link rel="stylesheet" href="{% static 'css/rating.css' %}">
{% endblock header_css %}

{% block content %}
<div class="col-md-12 mt-5">
    {% for task in tasks %}
        <div class="card border-dark mb-5">
            <h6 class="card-header text-white
                {% if task.status == task.STATUS_PENDING %}
                    bg-secondary
                {% elif task.status == task.STATUS_ACCEPTED %}
                    bg-warning
                {% elif task.status == task.STATUS_IN_PROGRESS %}
                    bg-primary
                {% elif task.status == task.STATUS_DONE %}
                    bg-success
                {% endif %}"
            >
                {{ task.get_status_display|upper }}
            </h6>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="card-title">{{ task.category }}</h4>
                        <h6 class="card-subtitle text-muted mb-2">${{ task.cost }}</h6>
                        <h6>{{ task.address }}</h6>
                        <p class="card-text">{{ task.notes }}</p>
                        <div class="buttons row col-md-12">
                            {% if user.type == user.TYPE_TASKER and task.status != task.STATUS_DONE %}
                                <a href="{% url 'tasks:task-detail' task.id %}" class="btn btn-primary mr-2">Status Update</a>
                            {% else %}
                                {% if not user|has_rated:task %}
                                    <button class="btn btn-warning mr-2" data-toggle="modal" data-target="#rate-{{ task.id }}">Rate</button>
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'tasks:task-detail' task.id %}" class="btn btn-outline-primary">Details</a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="rate-{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form method="POST" action="{% url 'tasks:rate' task.id %}">
                                            {% csrf_token %}
                                            {% bootstrap_form_errors rating_form %}

                                            {% bootstrap_field rating_form.rate show_label=False %}
                                            {% bootstrap_field rating_form.remarks %}

                                            <div class="text-center mt-4">
                                                <button type="submit" class="btn btn-lg btn-warning">Rate</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                {% for item in task.todos.all %}
                                    <li class="list-group-item">
                                        <i class="fas fa-check"></i> {{ item.description }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-white">Requested for <strong>{{ task.start_date.date }} @ {{ task.start_date.time }}</strong></small>
                <small class="text-white float-right">
                    {% if user.type == user.TYPE_TASKER %}
                        Requested by
                        <a href="{% url 'users:profile' task.customer.pk %}" class="text-white"><strong>{{ task.customer.get_full_name }}</strong></a>
                    {% else %}
                        {% if task.tasker %}
                            Tasked by
                            <a href="{% url 'users:profile' task.tasker.pk %}" class="text-white"><strong>{{ task.tasker.get_full_name }}</strong></a>
                        {% endif %}
                    {% endif %}
                </small>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}


{% block footer_js %}
<script src="{% static 'js/rating.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.rating').rating();
    });
</script>
{% endblock footer_js %}
