{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  <div class="col-md-6 offset-md-3 mt-3">
      {% for task in my_tasks %}
          task -- {{ task }}
      {% endfor %}
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_field form.category %}
          {% bootstrap_field form.address %}
          {% bootstrap_field form.date %}
          {% bootstrap_field form.time %}
          {% bootstrap_field form.cost %}
          <h1>TASKS</h1>
          {% bootstrap_formset form.task_formset layout='horizontal' %}

          {% bootstrap_field form.notes %}
          <input type="submit" value="Submit">
      </form>
  </div>
{% endblock content %}
